<div class="example-container">
  <mat-form-field>
    <input type='text' [(ngModel)]='notificationName' value={{notificationName}}  matInput placeholder="Wpisz imię">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input type='text' [(ngModel)]='notificationLastName' value={{notificationLastName}} matInput placeholder="Wpisz nazwisko">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <textarea type='text' [(ngModel)]='notificationText' value={{notificationText}} matInput placeholder="Wpisz treść powiadomienia"></textarea>
  </mat-form-field>
</div>

<button class="add-button" mat-raised-button color="primary" (click)='addNote()' >DODAJ</button>
<br />
<br />
<br />


