<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">MENU</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Opcja 1</button>
        <button mat-menu-item>Opcja 2</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <!-- <i class="material-icons">verified_user</i> -->
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid text-center pb-5">
  <div style="text-align:right">

    <div *ngIf="isAuthorized !== 'true', else sayHello">
      <div>
        <app-dialog></app-dialog>
      </div>
    </div>
    <ng-template #sayHello>
      <h2>
        Witaj {{loginName}}
      </h2>
    </ng-template>
  </div>
</div>

<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h2>
      Dodaj powiadomienie
    </h2>
  </div>
</div>
<br/>
<div class="example-container">
  <mat-form-field>
    <input type='text' [(ngModel)]='note.name'   matInput placeholder="Wpisz imię">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input type='text' [(ngModel)]='note.lastName' value={{note.lastName}} matInput placeholder="Wpisz nazwisko">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <textarea type='text' [(ngModel)]='note.text' value={{note.text}} matInput placeholder="Wpisz treść powiadomienia"></textarea>
  </mat-form-field>
</div>

<button class="add-button" mat-raised-button color="primary" (click)='addNote()' >DODAJ</button>
<br />

<br />
<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h2>
      Lista powiadomień: {{showStore}}
    </h2>
  </div>
</div>
<!-- <div *ngFor='let n of state'>
  <h3>{{ n.name }}</h3>
</div> -->
